################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/TSP
/TSP/bin/Debug/net6.0
/TSP/obj
